.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.register-title {
  font-size: 30px;
  font-weight: bold;
  font-family: Roboto;
  margin-top: 15px;
  margin-bottom: 30px;
}

.register-form {
  display: flex;
  width: 30%;
  flex-direction: column;
}

.back-button {
  color: #fd5901;
}

.submit-button {
  width: 100%;
  background-color: #fd5901;
  color: #fff;
}
