@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin smallDesktop {
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

.form-card {
  width: 100%;
  min-height: 200px;
  background-color: #e5dcd0;
  border-radius: 12px;
  padding: 24px;
  display: block;
  margin-bottom: 20px;

  @include mobile {
    // display: flex;
    // flex-direction: column;
    width: 100%;
    // padding: 12px;
  }

  .fields-container-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .description-textarea textarea {
    min-height: 215px;
  }

  .fields-container-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

    @include mobile {
      flex-direction: column;
    }
  }

  .title-input {
    width: 60%;
    @include mobile {
      width: 100%;
    }
  }
  .date-input {
    width: 40%;
    @include mobile {
      width: 100%;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
