.form-card {
  width: 100%;
  min-height: 200px;
  background-color: #e5dcd0;
  border-radius: 12px;
  padding: 24px;
  display: block;
  margin-bottom: 20px;

  .fields-container-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .description-textarea textarea {
    min-height: 215px;
  }

  .fields-container-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }

  .title-input {
    width: 60%;
  }
  .date-input {
    width: 40%;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
