.app-task-comment {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  min-height: 50px;
  margin-bottom: 10px;

  mat-card-subtitle {
    font-size: 12px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
}
