.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.app-task {
  width: 90%;
  max-width: 1048px;
  background-color: #fff;
  min-height: 100px;
  border-radius: 12px;

  .concluded-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    mat-icon {
      font-size: 10px;
      color: #5dc460;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    p {
      font-size: 10px;
      color: #777;
    }
  }
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
