<div class="card-container">
  <mat-card class="app-task">
    <mat-card-header>
      <mat-card-title>{{ task.title }}</mat-card-title>
      <mat-card-subtitle
        >data de vencimento: {{ formatedDueDate }} <br />
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="concluded-container">
        <mat-icon>check_circle</mat-icon>
        <p>Tarefa concluida em: {{ formatedConcludedDate }}</p>
      </div>
      <p>
        {{ task.description }}
      </p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button (click)="openTask()" mat-button color="primary">
        Visualizar horas
      </button>

      <button
        (click)="deleteTask()"
        mat-icon-button
        color="warn"
        matTooltip="Deletar tarefa"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
